# Allow writing to files in /proc/touchpanel
allow hal_power_default proc_touchpanel:dir search;
allow hal_power_default proc_touchpanel:file rw_file_perms;
allow hal_perf_default property_socket:sock_file write;
allow hal_perf_default init:unix_stream_socket connectto;
