r_dir_file(hal_audio_default, persist_usf_cal_file)

# communicate with perfd
allow hal_audio perfd:unix_stream_socket connectto;
allow hal_audio perfd_data_file:dir search;
allow hal_audio perfd_data_file:sock_file write;
