allow time_daemon self:capability { setgid setuid };
allow time_daemon vendor_file:dir read;
allow time_daemon self:capability { dac_override dac_read_search };
