allow untrusted_app_27 persist_camera_prop:file read;
allow untrusted_app_27 rootfs:dir read;
allow untrusted_app_27 sysfs_kgsl:lnk_file read;
allow untrusted_app_27 self:udp_socket ioctl;
allow untrusted_app_27 proc_zoneinfo:file read;
allow untrusted_app_27 sysfs_kgsl_proc:dir search;
allow untrusted_app_27 system_app_data_file:dir getattr;
allow untrusted_app_27 self:udp_socket ioctl;
allow untrusted_app_27 persist_camera_prop:file open;
allow untrusted_app_27 proc_zoneinfo:file open;
allow untrusted_app_27 sysfs_kgsl_proc:file read;
